LMSGI/XSD/Ejemplos/alumnos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="examenxsd">
    <xs:sequence>
        <xs:element name="manoloestudiacabron" type="manolovasuspender"></xs:element>
    </xs:sequence>
</xs:complexType>
<xs:complexType name="notademanoloestimada">
    <xs:sequence>
        <xs:element name="vasacarun3"></xs:element>
        <xs:element name="sevacopiarelperro"></xs:element>
    </xs:sequence>
</xs:complexType>
</xs:schema>